<ion-content [fullscreen]="true">

  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        <h1 style="text-align: center;">Geolocalización</h1>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="contenido">

    <table>
      <tr class="bglightgrey">
        <th></th>
        <th class="text-center">Promesa</th>
        <th class="text-center">Observable</th>
      </tr>
      <tr>
        <th class="bglightgrey text-center">Latitud</th>
        <th class="text-center">{{latPro}}</th>
        <th class="text-center">{{latObs}}</th>
      </tr>
      <tr>
        <th class="bglightgrey text-center">Longitud</th>
        <th class="text-center">{{lonPro}}</th>
        <th class="text-center">{{lonObs}}</th>
      </tr>
    </table>

    <ion-button (click)="gpsPromesa()" expand="block">Geolocalizador (Promesa)</ion-button>
    <ion-button (click)="gpsObservable()" expand="block">Geolocalizador (Observable)</ion-button>
    <ion-button color="warning" (click)="reset()" expand="block">Resetar localizaciones</ion-button>
    
  </div>

</ion-content>
